@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
      url(./fonts/Montserrat-Regular.ttf) format("truetype");
  }
  
  * {
    font-family: "Montserrat";
  }


  /* Custom scroll bar */
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #293040;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #293040;
  }
  